@font-face
{
	font-family: "Italianno Regular";
	src:url('Italianno-Regular-OTF.otf');
}

body
{
	background-color: #E1EAF2;
	color :white;
}

h1
{
	color: rgb(44,100,44);
	font-family: "Italianno Regular";
	font-weight: bold;
}

p
{
	color: #4E3002;
}

.strong
{
	font-weight: normal;
	font-size: 1.2em;
}

.mark
{
	background-color: #FF0000;
}